<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://db.onlinewebfonts.com/c/0801c08e5412f54e4b4e9ad146d83a12?family=Ink+Free"
      rel="stylesheet"
    />
    <title>IndabaX Landing Page</title>
  </head>

  <body>
    <!--Header-->
    <div id="header">
      <div id="header-ballons">
        <!--Nothing goes here lol-->
      </div>
      <img
        id="anniversary-img"
        src="./images/anniversary.png"
        alt="anniversary"
      />

      <div id="header-logos">
        <img id="header-img-1" src="./images/logo.png" alt="logo" />
        <p>In partnership with</p>
        <img id="header-img-2" src="./images/logo_2.png" alt="rail logo" />
      </div>
    </div>

    <div id="header-text">
      <p id="header-main">
        <span id="header-venue">Venue:</span> <br />
        Kwame Nkrumah University <br />
        of Science and Technology <span id="header-abb">(KNUST)</span>
      </p>
      <p id="header-sub">17th to 19th July, 2024</p>
    </div>

    <div id="register">
      <a href="#">Register now</a>
    </div>

    <!--Main Content-->
    <div id="content">
      <div id="learning" class="card">
        <h1>Hands-on Learning</h1>

        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
          >
            <path
              fill="#DE0220"
              d="M4 11.333L0 9l12-7l12 7v8.5h-2v-7.333l-2 1.166v6.678l-.223.275A9.983 9.983 0 0 1 12 22a9.983 9.983 0 0 1-7.777-3.714L4 18.011zM6 12.5v4.792A7.979 7.979 0 0 0 12 20a7.978 7.978 0 0 0 6-2.708V12.5L12 16zM3.97 9L12 13.685L20.03 9L12 4.315z"
            />
          </svg>
        </div>

        <div class="content-text">
          <p>
            Come learn, meet and network with seasoned data science, machine
            learning and AI practitioners across Ghana.
          </p>
        </div>

        <a href="#">See last year's event</a>
      </div>

      <div id="socials" class="card">
        <h1>Our Socials</h1>

        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
          >
            <path
              fill="#DE0220"
              d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07l-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"
            />
          </svg>
        </div>

        <div class="content-text">
          <p>
            Follow us for more info and updates on the Summit and relevant dates
            as well.
          </p>
        </div>

        <a href="#">Follow us on social media</a>
      </div>

      <div id="conduct" class="card">
        <h1>Code of Conduct</h1>

        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 36 36"
          >
            <path
              fill="#DE0220"
              d="M29.29 5H27v2h2v25H7V7h2V5H7a1.75 1.75 0 0 0-2 1.69v25.62A1.7 1.7 0 0 0 6.71 34h22.58A1.7 1.7 0 0 0 31 32.31V6.69A1.7 1.7 0 0 0 29.29 5"
              class="clr-i-outline clr-i-outline-path-1"
            />
            <path
              fill="#DE0220"
              d="M26 7.33A2.34 2.34 0 0 0 23.67 5h-1.8a4 4 0 0 0-7.75 0h-1.79A2.34 2.34 0 0 0 10 7.33V11h16ZM24 9H12V7.33a.33.33 0 0 1 .33-.33H16V6a2 2 0 0 1 4 0v1h3.67a.33.33 0 0 1 .33.33Z"
              class="clr-i-outline clr-i-outline-path-2"
            />
            <path
              fill="#DE0220"
              d="M11 14h14v2H11z"
              class="clr-i-outline clr-i-outline-path-3"
            />
            <path
              fill="#DE0220"
              d="M11 18h14v2H11z"
              class="clr-i-outline clr-i-outline-path-4"
            />
            <path
              fill="#DE0220"
              d="M11 22h14v2H11z"
              class="clr-i-outline clr-i-outline-path-5"
            />
            <path
              fill="#DE0220"
              d="M11 26h14v2H11z"
              class="clr-i-outline clr-i-outline-path-6"
            />
            <path fill="none" d="M0 0h36v36H0z" />
          </svg>
        </div>

        <div class="content-text">
          <p>
            Participants are expected to tolerate one another and treat each
            other with utmost respect.
          </p>
        </div>

        <a href="#">See our code of conduct</a>
      </div>
    </div>

    <!--Programs-->
    <div id="programs">
      <div id="program-head">
        <div id="program-img">
          <img src="./images/program-img.png" alt="program" />
        </div>

        <div id="program-content">
          <h2>
            Expect the very best <br />
            at this year’s summit
          </h2>
          <p>
            Keep an eye on our website for some amazing upcoming events and
            programs that you won't want to miss. We're brewing something
            special just for you!
          </p>

          <div id="program-register">
            <a href="#">Register now</a>
          </div>
        </div>
      </div>

      <div id="program-cards">
        <div id="p-1" class="p-card">
          <img src="./images/list.svg" alt="Keynotes" />

          <p>
            Provoking <br />
            Keynotes
          </p>
        </div>

        <div id="p-2" class="p-card">
          <img src="./images/folder.svg" alt="Tutorials" />

          <p>
            Hands-on <br />
            Tutorials
          </p>
        </div>

        <div id="p-3" class="p-card">
          <img src="./images/group.svg" alt="Hackathons" />

          <p>Hackathons</p>
        </div>
      </div>
    </div>

    <!--Support Section-->
    <div id="support">
      <h1>Support us</h1>

      <p>
        By supporting the Ghana Data Science community, you will be helping in
        the training of beginners in Python programming and machine learning as
        well as propelling the next generation of Africa’s problem solvers.
        Sponsoring this Summit also puts your brand in front of >1,000 data
        science professionals and opportunities to speak directly to all of
        them.
      </p>

      <div id="support-btn">
        <a href="#">Support us today</a>
      </div>
    </div>

    <!--Footer-->
    <footer>
      <div>
        <a href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
          >
            <path
              fill="#FFF"
              d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
            /></svg
        ></a>

        <a href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
          >
            <path
              fill="#FFF"
              d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
            /></svg
        ></a>

        <a href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
          >
            <path
              fill="#FFF"
              d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
            /></svg
        ></a>

        <a href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
          >
            <g fill="none" stroke="#FFF" stroke-width="1.5">
              <path
                fill="#FFF"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14 12l-3.5 2v-4z"
              />
              <path
                d="M2 12.708v-1.416c0-2.895 0-4.343.905-5.274c.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065c2.851.081 4.277.121 5.182 1.053c.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275c-.906.931-2.331.972-5.183 1.052c-1.35.039-2.73.066-3.912.066a141.1 141.1 0 0 1-3.912-.066c-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708Z"
              />
            </g></svg
        ></a>

        <a href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
          >
            <path
              fill="#FFF"
              d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"
            /></svg
        ></a>
      </div>

      <p id="ft-text-1">info@indabaxghana.com</p>
      <p id="ft-text-2">&copy; 2024. IndabaXGhana</p>
    </footer>
  </body>
</html>
